nav {
  background-color: rgb(169, 184, 216);
  background-image: url('/styles/images/asfalt-light.png');
  font-family: 'Bungee', cursive;
  height: 80px;
  color: #4056A1; 
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  position: fixed;
  width: 100vw;
}

.nav-new-tweet {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
}

#double-arrow-icon {
  color: red;
  animation: ArrowAnimation 1s linear infinite;
  position: relative;
  display: block;
  text-align: center;
}

@keyframes ArrowAnimation {
  0%, 100% {
    bottom: -8px;
  }
  50% {
    bottom: -18px;
  }
}

