nav {
  background-color: rgb(169, 184, 216);
  background-image: url('/styles/images/asfalt-light.png');
  font-family: 'Bungee', cursive;
  height: 80px;
  /* background-color: #4056A1; */
  color: #4056A1; 
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  width: 100vw;
}

.nav-new-tweet {
  /* border: 1px solid red; */
  transform: scale(.7);
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  align-items: center;
}

#double-arrow-icon {
  color: red;
  animation: ArrowAnimation 1s linear infinite;
  position: relative;
  /* bottom: -8px; */
}

@keyframes ArrowAnimation {
  0%, 100% {
    bottom: -8px;
  }
  50% {
    bottom: -18px;
  }
}

