.main-header {
  height: 480px;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  background-color: rgb(169, 184, 216);
  background-image: url('/styles/images/asfalt-light.png');
  position: relative;
  z-index: 2;
}

.profile-img, .profile-name {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-name h2 {
  margin-top: 0px;
}




