.tweet-main-container {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 90%;
  /* height: 1000px; */
}

/* NEW TWEET FORM */

#create-tweet-form{
  position: relative;
  display: flex;
  flex-direction: column;  
  padding: 24px 12px 48px;
  z-index: 1;
  margin-top: -174px;
  transition: 0.2s ease-in-out margin-top;
}

#create-tweet-form.active {
  margin-top: 0;
  transition: 0.2s ease-in-out margin-top;
}

#tweet-textarea-counter {
  position: relative;
  margin-top: 8px;
  font-size: 1.2rem;
  line-height: 1;
  display: flex;
  align-items: center;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #545149;
  border-radius: 2px;
  outline: none;
}

.btn-counter {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn-counter button {
  position: relative;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
}

.valid-error-message {
  /* opacity: 0;
  height: 0; */
  display: none;
}

#remaining-chars {
  position: relative;
  font-family: 'Bungee', cursive;
}

/* LOADED TWEETS */

article.tweet-container {
  position: relative;
  padding: 28px;
  border: 4px solid #545149;
  width: auto 0;
  margin: 40px 0;
}

article.tweet-container:hover {
  box-shadow: 10px 8px 1px grey;
}

article.tweet-container header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

article img {
  height: 64px;
  width: 64px;
}

.tweeted-content {
  word-break: break-all;
  color: rgb(42, 29, 126);
  border-bottom: 4px solid #545149;
}

.valid-error-message {
  color: red;
  font-size: 1rem;
  margin-top: 12px;
}

article footer {
  position: relative;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.tweeted-since-posted {
  margin-top: 12px;
  font-size: 1rem;
}

.footer-icons li{
  position: relative;
  display: inline-block;
  list-style: none;
}

.fas {
  color: #545149;
}

.fas:hover{
  color: rgb(140, 157, 208);
}