/* media query */

@media only screen and (min-width: 1024px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
  }
  
  .container {
    width: 65%;
    padding: 150px 0 0 48px;
  }

  .main-header {
    
    width: 35%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .main-header-wrapper {
    position: relative;
    background-color: pink;
    padding: 40px 80px;
    /* margin-right: 40px; */
    margin: 0 auto;
    width: 80%;
  }

}

@media only screen and (min-width: 1024px) {

}